*{
    padding:0;
    margin:0;
    
    }
    body{
      background:whitesmoke;
      background-position: center;
      background-size: cover;
      font-family:sans-serif;
      width:100%;
      height: 100%;
      box-sizing: border-box;
      
    }
    #logo{
        width:10px;
        height:10px;
    }
    
    .carousel-item {
        height: 50vh;
        min-height: 400px;
        width: 200px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover
    }
     .container{
        text-align:center;
        
        }
    .container h1{
      color:#000;
    }
    .space{
     width:100%;
     height:55%;
     bottom:10%;
    }
    
    .footer{
      width: 100%;
      background:#fff;
      display:block;
      height:min-content;
    }
    .inner-footer{
      width:95%;
      margin: auto;
      padding:30px 50px;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content:space-around;
    
    }
    .footer-items{
      width:25%;
      padding: 20px 30px;
      box-sizing: border-box;
    
    }
    h1{
      padding: 10px 0;
      font-size: 25px;
      color: #000;
      text-transform: uppercase;
    }
    h2{
      margin:10px 0;
      color: #000;
      font-size: 16px;
      font-weight: lighter;
      text-transform: uppercase;
    }
    .border{
      height: 2px;
      width: 40px;
      background: #ff9800;
    }
    ul{
      list-style:none;
      color:#FF00FF;
      font-size: 15px;
      letter-spacing: 0.5px;
    }
    ul a{
        text-decoration: none;
      outline: none;
      color: #FF00FF;
      transition: 0.3s;
    }
    ul a:hover{
      color:#008000;
    
    }
    ul li{
      margin: 10px 0;
      height: 25px;
    
    }
    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      margin: 0 -16px;
    }
    
    .col-25 {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
    }
    
    .col-50 {
      -ms-flex: 50%; /* IE10 */
      flex: 50%;
    }
    
    .col-75 {
      -ms-flex: 75%; /* IE10 */
      flex: 75%;
    }
    
    .col-25,
    .col-50,
    .col-75 {
      padding: 0 16px;
    }
    
    .container {
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
    }
    
    input[type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    label {
      margin-bottom: 10px;
      display: block;
    }
    
    .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }
    
    .btn {
      background-color: #04AA6D;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }
    
    .btn:hover {
      background-color: #45a049;
    }
    
    span.price {
      float: right;
      color: grey;
    }
    
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
      .row {
        flex-direction: column-reverse;
      }
      .col-25 {
        margin-bottom: 20px;
      }
    }